{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}
<h4 class="page-header">
     VEX Boxes
    <small>VEX include Core Vex, Vex-frontend, Vex-director components.</small>
</h4>
<!-- Solid boxes -->
<div class="row">

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "CORE VEX"
        background= "light-blue"
        closable = false
        collapsable = false
        showModal = "displayModal"
        }}

        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "CORE VEX"
        background= "light-blue"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "CORE VEX"
        background= "light-blue"
        closable = false
        collapsable = false
        showModal="showModal"
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

</div><!-- /.row -->



<div class="row">

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX-Frontend"
        background= "green"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX-Frontend"
        background= "green"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX-Frontend"
        background= "green"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

</div><!-- /.row -->


<div class="row">

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX Director"
        background= "light-blue"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX Director"
        background= "light-blue"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

    <div class="col-md-3">
        <!-- Primary tile -->
        {{#box-widget
        title = "VEX Director"
        background= "light-blue"
        closable = false
        collapsable = false
        }}
            Box class: <code>.box.box-warning</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        {{/box-widget}}

    </div><!-- /.col -->

</div><!-- /.row -->