
<div>
  {{application-header}}

  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
     {{outlet 'modal'}}
  	  {{liquid-outlet}}
  </div><!-- /.content-wrapper -->
  {{application-footer}}
</div><!-- ./wrapper -->